<!-- start custom head snippets, customized by JJ with _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- JJ.Framework scripts (for RememberScrollPosition). -->
<script>
  {% include JJ.Framework.Check.js %}
  {% include JJ.Framework.Assert.js %}
  {% include JJ.Framework.Cookie.js %}
  {% include JJ.Framework.RememberScrollPosition.js %}
</script>
  
<!-- end custom head snippets -->